src/main/app/WeatherByCity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="get:/weather/city:WeatherService-config">
        <set-variable variableName="zip" value="#[message.inboundProperties.'http.query.params'.zip]" doc:name="Save zip"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:input-inbound-property doc:sample="sample_data\map_string_string.dwl"
				propertyName="http.query.params" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://ws.cdyne.com/WeatherWS/
---
{
	ns0#GetCityWeatherByZIP: {
		ns0#ZIP: flowVars.zip
	}
}]]></dw:set-payload>
		</dw:transform-message>
		<ws:consumer config-ref="Web_Service_Consumer" operation="GetCityWeatherByZIP"
			doc:name="Web Service Consumer" />
		<dw:transform-message doc:name="Transform Message">
			<dw:input-payload doc:sample="sample_data\GetCityWeatherByZIPResponse.xml" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json

---
{
	"weather": payload,
	"forecast": "http://localhost:8081/service/forecast/city?zip=" ++ flowVars.zip
}]]></dw:set-payload>
		</dw:transform-message>
	</flow>
</mule>
